body {
  background-color: green;
}

.racecar-container {
  width: 15%;
}

.racecar {
  width: 200px;
  position: absolute;
}

.south {
 transform: rotate(90deg);
}

.north {
  transform: rotate(-90deg);
}

.east {
  transform: rotate(0deg);
}
.west {
  transform: rotate(180deg);
}
